# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

/src/back/file-stores
*.cjs
/src/back/.env.mode
/src/back/.env.json
/src/back/docker-compose.yml
/src/back/package.json
drizzle.migrations

.env.server.json

secret.json
secret.md5.json

# testing
/coverage

# production
/build

*.exe
*.AppImage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.tgBotEnv
.passw

host-config.json