# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/src/back/back.index.cjs
/src/back/.env.mode
/src/back/file-stores

# testing
/coverage

# production
/build

*.exe
*.AppImage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.tgBotEnv
.passw