body {

  overflow: hidden;

  &:has([st-hide-footer-menu]),
  &:has([st-fullscreen]) {
    --footer-height: 0px;
    --footer-opacity: 0;

    .footer-menu {
      padding: 0;
    }
  }

  .jesmyl-smile-box {
    animation: fade-out 1s forwards;
    pointer-events: none;

    @keyframes fade-out {
      from {
        opacity: 1;
      }

      70% {
        opacity: 1;
      }

      to {
        opacity: 0;
      }
    }
  }

  .application-container {
    position: absolute;
    top: 0;
    animation: blur-in 1s forwards linear;
    width: 100vw;
    height: 100%;
    overflow: hidden;

    @keyframes blur-in {
      from {
        filter: blur(50px);
      }

      to {
        filter: blur(0px);
      }
    }

    .phase-container {
      height: var(--phase-container-height);
    }

    &[st-fullscreen] {
      --header-top: calc(0px - var(--header-height));
      --header-container-top: calc(0px - var(--header-content-height));
      --footer-bottom: calc(0px - var(--footer-height));
      --content-height: 100%;
      --phase-container-height: 100%;
      --content-top: 0;
    }
  }
}
