@import 'tailwindcss';

@theme {
  --color-x1: stub;
  --color-x2: stub;
  --color-x3: stub;
  --color-x4: stub;
  --color-x5: stub;
  --color-x6: stub;
  --color-x7: stub;
  --color-x8: stub;
  --color-xKO: stub;
  --color-xOK: stub;
}
